[Unit]
Description=Run Daily Order Report at 08:00 daily
Requires=daily-order-report.service

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true

[Install]
WantedBy=timers.target