[Unit]
Description=Daily Order Report Service
After=network.target

[Service]
Type=oneshot
User=svc_101360
WorkingDirectory=/home/svc_101360@kifr-ru.local/reports
ExecStart=/usr/bin/python3 /home/svc_101360@kifr-ru.local/reports/main.py --oneshot
EnvironmentFile=/home/svc_101360@kifr-ru.local/reports/.env

# Настройки для повторных попыток при ошибках
Restart=no

# Настройки логирования
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=daily-order-report

[Install]
WantedBy=multi-user.target